@font-face
{
  font-family: "Market Deco";
  src: url(Market_Deco.ttf);
}

/*****************************************************************************/
/*
/* Visualization
/*
/*****************************************************************************/
.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

.node text {
    font-size: 12px;
  }

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

/*****************************************************************************/
/*
/* Bootstrap
/*
/*****************************************************************************/
.jumbotron {
  background-color: #222222;
  background-image: url(/assets/Banner.png);
  border-color: #080808;
  color: white;
  margin-bottom: -2%;
}

#top-jumbotron {
  margin-left: -7.89%;
}

.navbar {
  background-color: #494949;
  border-color: #494949;
}

.navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-brand {
  padding-left: 116px;
}

.navbar-right {
  padding-right: 116px;
}

.stuck {
  position: fixed;
  top: 0px;
}

.search {
  width: 60%;
}

form #search-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.btn-custom {
  background-color: hsl(0, 0%, 28%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6b6b6b", endColorstr="#474747");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#6b6b6b), to(#474747));
  background-image: -moz-linear-gradient(top, #6b6b6b, #474747);
  background-image: -ms-linear-gradient(top, #6b6b6b, #474747);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6b6b6b), color-stop(100%, #474747));
  background-image: -webkit-linear-gradient(top, #6b6b6b, #474747);
  background-image: -o-linear-gradient(top, #6b6b6b, #474747);
  background-image: linear-gradient(#6b6b6b, #474747);
  border-color: #474747 #474747 hsl(0, 0%, 24.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
  -webkit-font-smoothing: antialiased;
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

p { margin: 1em 0; }

a         { color: #0000cd; }
a:hover   { color: #0000cd; }
a:visited { color: #0000cd; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

#logo-top-left {
  margin-left: 15%;
  margin-top: 20%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
  padding-bottom: 70px;
}

.site-name {
  font-family: "Market Deco", sans-serif;
}

.site-branding {
  padding-left: 4px;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  background-color: white;
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
  position: fixed;
  margin-left: 83.94px;
  bottom: 0px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
